<h2>Patient Details</h2>

<hr/>
<div *ngIf="patient">
  <div>
    <label><b>First Name: </b></label> {{patient.firstName}}
  </div>
  <div>
    <label><b>Last Name: </b></label> {{patient.lastName}}
  </div>
  <div>
    <label><b>Date of Birth: </b></label> {{patient.dateOfBirth}}
  </div>
  <div>
    <label><b>Sex: </b></label> {{patient.sex}}
  </div>
  <div>
    <label><b>Country: </b></label> {{patient.country}}
  </div>
  <div>
    <label><b>State: </b></label> {{patient.state}}
  </div>
  <div>
    <label><b>Address: </b></label> {{patient.address}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Patient List</button><br>
